{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


{% for product in products  %}
<div class="row">
<div class="col-3">
    <p>{{ product.name}}</p>
</div>
<div class="col-3">
    <p>{{ product.email}}</p>
</div>
<div class="col-3">
    <p>{{ product.phonenumber}}</p>
</div>
</div>
{% endfor %}
{% endblock %}
