{% extends 'formsbase.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}

	<div class="dashboard-wrapper">
		<div class="container-fluid dashboard-content">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							{% for message in app.flashes('error') %}
								<div class="alert alert-danger">
									{{ message }}
								</div>
							{% endfor %}
							<!-- basic form  -->
							<!-- ============================================================== -->
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6  mx-auto text-center form p-4">
									<div class="card">
										<div class="card-header">
											<h5 class="mb-0">
												Black lister un client
											</h5>
										</div>
										{{ form_start(form, { 'attr': {'class': 'justify-content-center'}}) }}
										<div class="form-group">
											<label class="col-form-label">Id du client</label>
											{{ form_widget(form.id, { 'attr': {'class': 'form-control'}}) }}
										</div>
										<button type="submit" class="btn btn-primary">Enregistrer</button>
										{{ form_end(form) }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
