<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Se7en{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css"
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/home">Se7en</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" >Commande</a>
                    <div class="dropdown-content">
						<a href="#">Ajouter une Commande</a>
						<a href="#">Annuler une Commande</a>
						<a href="#">Historique des commandes</a>
					</div>
                </li>
            <li class="nav-item dropdown">
               <a class="nav-link" >Inventaire</a>
                    <div class="dropdown-content">
						<a href="/products">Afficher l'inventaire</a>
						<a href="/AddProducts">Ajouter un produit</a>
					</div>
                </li>
            <li class="nav-item dropdown">
                <a class="nav-link" >Fournisseurs</a>
                    <div class="dropdown-content">
                        <a href="#">Gérer les bons de commandes</a>
						<a href="#">Ajouter un bon de commande</a>
                        <a href="#">Gérer les bons de retour de commandes</a>
						<a href="#">Information des fournisseurs</a>
                    </div>
                </li>
            <li class="nav-item dropdown">
                <a class="nav-link" >Clients</a>
                    <div class="dropdown-content">
                    <a href="#">Afficher la liste des clients</a>
                    <a href="#">Ajouter un client à la Blacklist</a>
                    </div>
                </li>
             <li class="nav-item dropdown">
                <a class="nav-link" >Prestataires</a>
                    <div class="dropdown-content">
                    <a href="">Gerer les états d'envoie</a>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
        <div class="container">
        {% block body %}{% endblock body %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>


<style>
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #FF7F50;
min-width: 160px;
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: white;
padding: 10px 14px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #FF7F50;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
</style>