{% extends 'base.html.twig' %}

{% block body %}
    <h1 align="center">{{ title }}</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur dolorem nobis nostrum ab nisi quisquam quaerat, quibusdam nihil ex commodi id error similique possimus quam praesentium sint. Earum inventore numquam hic eligendi at sapiente, unde soluta deleniti ex iste temporibus?</p>
    <p>Illum sunt earum facilis, tempora delectus possimus non, consequatur quisquam est eius sed architecto veniam unde culpa suscipit eaque omnis quis modi aliquid aspernatur dolor sint alias. Numquam iure nobis assumenda, nulla consectetur aliquid. Nobis unde quibusdam in consequatur et.</p>
{% endblock body %}